body{
    font-family: 'Roboto Slab', serif;
    margin: 0%;
}
h1{
    font-size:  50px;
}
h2{
    font-size: 30px;
}
.wow{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.wow1{
    width: 50%;
    padding-left: 5%;
}
.wow1 img{
    width: 80%;
}
.contact{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color:black;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
}
.section1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.section2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.section3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.p1{
    text-align:justify ;
    padding-right: 20px;
}

.shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
    border-left: 10px solid ;
}
#a{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, purple);
    border-image-slice: 1;
}

#b{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}